certifi==2025.7.14
charset-normalizer==3.4.2
docopt==0.6.2
idna==3.10
pipreqs==0.4.13
requests==2.32.4
urllib3==2.5.0
yarg==0.1.10
pillow>=11.0.0,<12
discord.py==2.3.2
pandas==2.1.2
pyinstaller==5.8.0
